<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Replay Notification</title>
</head>
<body>
    <h1>hello, <%- name %></h1>
    <p>A new replay has been added to your question in the video, <%- title %></p>
    <p>Please Login to your website to view the replay</p>
    <p>Thank you for being part of your community</p>
</body>
</html>